In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot
import re

In [3]:
df_values = pd.read_csv('train_values.csv')

In [4]:
df_values

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,0
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,688636,25,1335,1621,1,55,6,3,n,r,...,0,0,0,0,0,0,0,0,0,0
260597,669485,17,715,2060,2,0,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
260598,602512,17,51,8163,3,55,6,7,t,r,...,0,0,0,0,0,0,0,0,0,0
260599,151409,26,39,1851,2,10,14,6,t,r,...,0,0,0,0,0,0,0,0,0,0
260600,747594,21,9,9101,3,10,7,6,n,r,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df_labels = pd.read_csv('train_labels.csv')

In [6]:
df_labels

        building_id  damage_grade
0            802906             3
1             28830             2
2             94947             3
3            590882             2
4            201944             3
...             ...           ...
260596       688636             2
260597       669485             3
260598       602512             3
260599       151409             2
260600       747594             3

[260601 rows x 2 columns]

In [7]:
df = pd.merge(df_labels, df_values, left_on = 'building_id', right_on = 'building_id')

In [8]:
# df.set_index('building_id')

In [9]:
df['age'].describe()

count    260601.000000
mean         26.535029
std          73.565937
min           0.000000
25%          10.000000
50%          15.000000
75%          30.000000
max         995.000000
Name: age, dtype: float64

In [10]:
# checking for NaNs
full_columns = df.columns
weird = []
for col in full_columns:
    for i in df[col]:
        if type(i) != int:
            weird.append(df[col])
        
# no NaNs

In [11]:
df[list(df.columns)[1:]].corr()['damage_grade'].sort_values()

has_superstructure_cement_mortar_brick   -0.254131
has_superstructure_rc_engineered         -0.179014
has_superstructure_rc_non_engineered     -0.158145
area_percentage                          -0.125221
has_secondary_use_hotel                  -0.097942
has_secondary_use_rental                 -0.083754
has_secondary_use                        -0.079630
geo_level_1_id                           -0.072347
has_superstructure_timber                -0.069852
has_superstructure_bamboo                -0.063051
has_superstructure_cement_mortar_stone   -0.060295
has_superstructure_other                 -0.030224
has_secondary_use_institution            -0.028728
has_secondary_use_other                  -0.016334
has_secondary_use_school                 -0.011692
has_secondary_use_industry               -0.011024
has_secondary_use_gov_office             -0.009378
has_secondary_use_health_post            -0.008543
has_secondary_use_use_police             -0.001656
geo_level_3_id                            0.007932
has_secondary_use_agriculture             0.011309
has_superstructure_mud_mortar_brick       0.014561
age                                       0.029273
geo_level_2_id                            0.043161
height_percentage                         0.048130
has_superstructure_adobe_mud              0.055314
count_families                            0.056151
has_superstructure_stone_flag             0.066039
count_floors_pre_eq                       0.122308
has_superstructure_mud_mortar_stone       0.291325
damage_grade                              1.000000
Name: damage_grade, dtype: float64

In [13]:
# def find_struc(col):
#     strucs = re.match('has_superstructure_\w+',col)
#     return strucs

# df.apply(find_struc)

In [14]:
df['geo_level_1_id'].value_counts()

6     24381
26    22615
10    22079
17    21813
8     19080
7     18994
20    17216
21    14889
4     14568
27    12532
13     9608
11     8220
3      7540
22     6252
25     5624
16     4332
0      4011
9      3958
12     3194
18     3189
1      2701
5      2690
30     2686
15     2320
14     1714
24     1310
23     1121
2       931
29      396
19      372
28      265
Name: geo_level_1_id, dtype: int64