In [1]:
import pandas as pd

In [3]:
buildings = pd.read_csv('csv_building_structure.csv.crdownload')
names = pd.read_csv('ward_vdcmun_district_name_mapping.csv')

In [4]:
buildings.head()

,building_id,district_id,vdcmun_id,ward_id,count_floors_pre_eq,count_floors_post_eq,age_building,plinth_area_sq_ft,height_ft_pre_eq,height_ft_post_eq,...,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,condition_post_eq,damage_grade,technical_solution_proposed
0,120101000011,12,1207,120703,1,1,9,288,9,9,...,0,0,0,1,0,0,0,Damaged-Used in risk,Grade 3,Major repair
1,120101000021,12,1207,120703,1,1,15,364,9,9,...,0,0,0,1,0,0,0,Damaged-Repaired and used,Grade 5,Reconstruction
2,120101000031,12,1207,120703,1,1,20,384,9,9,...,0,0,0,0,0,0,0,Damaged-Repaired and used,Grade 2,Minor repair
3,120101000041,12,1207,120703,1,1,20,312,9,9,...,0,0,0,0,0,0,0,Damaged-Repaired and used,Grade 2,Minor repair
4,120101000051,12,1207,120703,1,1,30,308,9,9,...,0,0,0,0,0,0,0,Damaged-Repaired and used,Grade 1,Minor repair

In [5]:
names.head()

,ward_id,vdcmun_id,vdcmun_name,district_id,district_name
0,120101,1201,Champadevi Rural Municipality,12,Okhaldhunga
1,120102,1201,Champadevi Rural Municipality,12,Okhaldhunga
2,120103,1201,Champadevi Rural Municipality,12,Okhaldhunga
3,120104,1201,Champadevi Rural Municipality,12,Okhaldhunga
4,120105,1201,Champadevi Rural Municipality,12,Okhaldhunga

In [6]:
df = buildings.merge(names, left_on = ['district_id', 'vdcmun_id', 'ward_id'], right_on = ['district_id', 'vdcmun_id', 'ward_id'])

In [8]:
df[['building_id','district_id','vdcmun_id','district_name']]

         building_id  district_id  vdcmun_id district_name
0       120101000011           12       1207   Okhaldhunga
1       120101000021           12       1207   Okhaldhunga
2       120101000031           12       1207   Okhaldhunga
3       120101000041           12       1207   Okhaldhunga
4       120101000051           12       1207   Okhaldhunga
...              ...          ...        ...           ...
762101  366705001261           36       3603        Gorkha
762102  366705001271           36       3603        Gorkha
762103  366705001281           36       3603        Gorkha
762104  366705001291           36       3603        Gorkha
762105  366705001301           36       3603        Gorkha

[762106 rows x 4 columns]

In [18]:
df.to_csv('location_names')

762106